<!-- name collection usd_max eur_max usd_min eur_min cmc rarity legalities releaseDate_max releaseDate_min power toughness keywords-->
<app-header [showButtonBack]="true" [allOptions]="false" [logo]="false"></app-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-list id="form">
      <ion-label class="title">Nome da Carta:</ion-label>
      <ion-item>
        <ion-input type="text" [(ngModel)]="card.name"> </ion-input>
      </ion-item>
      <ion-label class="title">Coleção:</ion-label>
      <ion-item>
        <ion-input type="text" [(ngModel)]="card.collection"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col size="6" style="padding-left: 0;">
          <ion-label class="title">Preço Minimo:</ion-label>
          <ion-item>
            <input currencyMask [(ngModel)]="this.currency === 'usd' ? card.usd_min : card.eur_min" type="tel"
              placeholder="00,00" [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
          </ion-item>
        </ion-col>
        <ion-col size="6" style="padding-right: 0;">
          <ion-label class="title">Preço Máximo:</ion-label>
          <ion-item>
            <input currencyMask [(ngModel)]="this.currency === 'usd' ? card.usd_max : card.eur_max" type="tel"
              placeholder="00,00" [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-label class="title">CMC:</ion-label>
      <ion-item>
        <ion-input type="tel" [(ngModel)]="card.cmc"></ion-input>
      </ion-item>
      <ion-label class="title">Raridade:</ion-label>
      <ion-item>
        <ion-input type="text" [(ngModel)]="card.rarity"></ion-input>
      </ion-item>
      <ion-label class="title">Formato:</ion-label>
      <ion-item>
        <ion-input type="text" [(ngModel)]="card.legalities"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col style="padding-left: 0;">
          <ion-label class="title">Poder:</ion-label>
          <ion-item>
            <ion-input type="tel" [(ngModel)]="card.legalities"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col style="padding-right: 0;">
          <ion-label class="title">Resistência:</ion-label>
          <ion-item>
            <ion-input type="tel" [(ngModel)]="card.legalities"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-label class="title">Palavra-Chave:</ion-label>
      <ion-item>
        <ion-input type="text" [(ngModel)]="card.keywords"></ion-input>
      </ion-item>
      <ion-label class="title">Cor:</ion-label>
      <ion-item style="border: none !important;">
        <ion-radio-group [(ngModel)]="card.color">
          <ion-item lines="none" style="border: none !important;">
            <ion-label><img src="assets/imgs/white.svg" /></ion-label>
            <ion-radio slot="start" value="W"></ion-radio>
          </ion-item>
          <ion-item lines="none" style="border: none !important;">
            <ion-label><img src="assets/imgs/blue.svg" /></ion-label>
            <ion-radio slot="start" value="U"></ion-radio>
          </ion-item>
          <ion-item lines="none" style="border: none !important;">
            <ion-label><img src="assets/imgs/black.svg" /></ion-label>
            <ion-radio slot="start" value="B"></ion-radio>
          </ion-item>
          <ion-item lines="none" style="border: none !important;">
            <ion-label><img src="assets/imgs/red.svg" /></ion-label>
            <ion-radio slot="start" value="R"></ion-radio>
          </ion-item>
          <ion-item lines="none" style="border: none !important;">
            <ion-label><img src="assets/imgs/green.svg" /></ion-label>
            <ion-radio slot="start" value="G"></ion-radio>
          </ion-item>
          <ion-item lines="none" style="border: none !important;">
            <ion-label>Sem Cor</ion-label>
            <ion-radio slot="start" value="Z"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <button class="btn" (click)="search()" primary ion-button expand="block">
          Pesquisar
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <p [hidden]="!isInvalid('notificacaoEmail')" class="error-message ion-text-center">
        {{ getErrorMessage(form, 'notificacaoEmail') }}
      </p> -->