ion-header {
  --ion-background-color: #f1a94a;
  // fundo branco com detalhes cinza

  ion-toolbar {
    --ion-background-color: #f1a94a;

    ion-buttons {
      color: white;

      .icon {
        font-size: xx-large;
        margin-right: 10px;
        color: white;
      }
    }

    ion-title {
      font-weight: 400;
      color: white;
      text-align: center;
      padding-top: 10px;

      #icon-title {
        font-size: larger;
      }

      span {
        font-weight: bold;
        font-size: medium;
        vertical-align: super;
        padding-left: 12px;
      }
    }
  }
}

ion-input {
  --padding-top: 14px;
  --padding-start: 8px !important;
  color: var(--ion-color-grey-text);
}

ion-icon {
  color: var(--ion-color-grey-text);
}

.title {
  color: var(--ion-color-grey-text);
  font-weight: 500;
}

#form {
  margin: 0;

  ion-item {
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(196, 196, 196);
    background: transparent;
    margin-bottom: 10px;
    margin-top: 4px;

    #input-icon {
      padding-right: 8px;
    }

    input {
      background: transparent;
      border: none;
      text-align: left !important;
      color: var(--ion-color-grey-text);
    }

    ::placeholder {
      color: #bec4c6;
    }
  }

  img {
    max-width: 50%;
  }
}