<app-header (eventEmitter)="openAdvencedSearchModal($event)">
</app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center">
        <img src="{{ cardDetails?.image_uris?.normal }}" style="max-width: 80%;" />
        <ion-list style="border: 1px solid #b8b8b8; border-radius: 4px; margin-top: 15px;">
          <ion-item>
            <p class="title">{{ cardDetails.name }} {{cardDetails.mana_coast}} </p>
          </ion-item>
          <ion-item>
            <p>{{ cardDetails.type_line }} </p>
          </ion-item>
          <ion-item>
            <p>{{ cardDetails.oracle_text }} </p>
          </ion-item>
          <ion-item>
            <p>Ilustrado por: {{ cardDetails.artist }} </p>
          </ion-item>
          <ion-item>
            <ion-row style="margin-top: 4px">
              <ion-col size="6" style="text-align: center"
                [style.background-color]="cardDetails.legalities?.brawl === 'legal' ? '#4fc47a' : '#f8c9a3'">
                <p style="color: white; font-weight: 500;">Brawl</p>
              </ion-col>
              <ion-col size="6" style="text-align: center"
                [style.background-color]="cardDetails.legalities?.commander === 'legal' ? '#4fc47a' : '#f8c9a3'">
                <p style="color: white; font-weight: 500;">Commander</p>
              </ion-col>
              <ion-col size="6" style="text-align: center"
                [style.background-color]="cardDetails.legalities?.historic === 'legal' ? '#4fc47a' : '#f8c9a3'">
                <p style="color: white; font-weight: 500;">Historic</p>
              </ion-col>
              <ion-col size="6" style="text-align: center"
                [style.background-color]="cardDetails.legalities?.legacy === 'legal' ? '#4fc47a' : '#f8c9a3'">
                <p style="color: white; font-weight: 500;">Legacy</p>
              </ion-col>
              <ion-col size="6" style="text-align: center; color: white; font-weight: 500;"
                [style.background-color]="cardDetails.legalities?.modern === 'legal' ? '#4fc47a' : '#f8c9a3'">
                <p style="color: white; font-weight: 500;">Modern</p>
              </ion-col>
              <ion-col size="6" style="text-align: center"
                [style.background-color]="cardDetails.legalities?.pauper === 'legal' ? '#4fc47a' : '#f8c9a3'">
                <p style="color: white; font-weight: 500;">Pauper</p>
              </ion-col>
              <ion-col size="6" style="text-align: center"
                [style.background-color]="cardDetails.legalities?.pioneer === 'legal' ? '#4fc47a' : '#f8c9a3'">
                <p style="color: white; font-weight: 500;">Pioneer</p>
              </ion-col>
              <ion-col size="6" style="text-align: center"
                [style.background-color]="cardDetails.legalities?.standard === 'legal' ? '#4fc47a' : '#f8c9a3'">
                <p style="color: white; font-weight: 500;">Standard</p>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-card-content style="width: 100%;">
              <canvas #lineChart></canvas>
            </ion-card-content>
            <ion-icon name="expand-outline" (click)="redirectToGraphDetails()"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>