<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="ion-text-center"><img src="assets/imgs/logo.png" /></div>
    </ion-title>
    <ion-menu-button style="color: white" slot="start" autoHide="true"></ion-menu-button>

    <ion-item slot="end" lines="none">
      <ion-select [(ngModel)]="currency" (ionChange)="changeCurrency($event)">
        <ion-select-option value="usd">Dólar</ion-select-option>
        <ion-select-option value="eur">Euro</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
  <ion-searchbar [(ngModel)]="searchInput" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"
    placeholder="Procure por cards">
  </ion-searchbar>
  <p id="adv-search" (click)="sendSearchInputToModal()">Busca Avançada</p>
</ion-header>