<app-header showButtonBack="/dashboard" (eventEmitter)="openAdvencedSearchModal($event)"
  (eventEmitter)="reloadRanksByCurrency($event)"></app-header>

<ion-content class="ion-padding">
  <ion-grid style="padding: 0;">
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segmentFlag">
      <ion-segment-button style="background-color: #00b643" value="1">
        <ion-label>Cards em Alta</ion-label>
      </ion-segment-button>
      <ion-segment-button style="background-color: #ff2020" value="2">
        <ion-label>Cards em Baixa</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-slides #slides class="swiper-no-swiping" scrollbar="false">
      <ion-slide>
        <app-rank-list [allCards]="currency === 'usd' ? allRanks.altas.usd : allRanks.altas.eur" rankFlag="altas"
          style="width: 100%;">
        </app-rank-list>
      </ion-slide>
      <ion-slide>
        <app-rank-list [allCards]="currency === 'usd' ? allRanks.baixas.usd : allRanks.baixas.eur" rankFlag="baixas"
          style="width: 100%;">
        </app-rank-list>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</ion-content>