.fundoClaro {
  --background: #ffffff;
}

.fundoEscuro {
  --background: #eeeeee;
}

.title {}

.value-alta {
  font-weight: bold;
  color: #00b643;
}

.value-baixa {
  font-weight: bold;
  color: #ff2020;
}