<ion-list class="ion-no-padding">
  <ion-item *ngFor="let card of cardList; index as i" [ngClass]="i % 2 == 0 ? 'fundoClaro' : 'fundoEscuro'"
    (click)="goToCardDetails(card)">
    <ion-label>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="arrow-up" [ngClass]="card ? 'value-alta' : 'value-baixa'"> </ion-icon>
        </ion-col>
        <ion-col size="2">
          <p class="value-alta">+3,99</p>
        </ion-col>
        <ion-col size="6">
          <p class="title">Fera das Demandas</p>
        </ion-col>
        <ion-col size="2">
          <p class="value-alta">R$300,00</p>
        </ion-col>
      </ion-row>
    </ion-label>
  </ion-item>
</ion-list>